<div class="row overflow-hidden" id="projects">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 px-3 text-center py-5 project text-white d-flex flex-column" *ngFor="let project of projects; let idx = index">
        <div>
            <h3 *ngIf="hasFaIcon(project)"><i [class]="project.icon + ' fa-2x'"></i></h3>
            <img class="icon" *ngIf="!hasFaIcon(project)" [src]="'assets/logos/' + project.icon">
            <h3> {{project.prettyName}}</h3>
            <span [class]="'mr-2 d-inline badge badge-' + (project.status == 'released' ? 'success' : project.status == 'development' ? 'warning' : project.status == 'deprecated' ? 'secondary' : 'danger')">{{project.status}}</span>
            <span [class]="'d-inline badge badge-primary'">{{project.category}}</span>
            <span class="d-block mb-5 mt-3">{{project.description}}</span>
        </div>    
        <div class="mt-auto">
            <a class="d-block btn btn-outline-light mb-3" *ngIf="project.viewUrl" [href]="project.viewUrl">View <i class="fas fa-external-link-square-alt"></i></a>
            <a class="d-block btn btn-outline-light mb-3" *ngIf="project.docsUrl" [href]="project.docsUrl">View Documentation <i class="fas fa-book"></i></a>
            <a class="d-block btn btn-outline-light mb-3" *ngIf="project.demoUrl" [href]="project.demoUrl">Launch <i class="fas fa-rocket"></i></a>
            <a class="d-block btn btn-outline-light" [href]="project.githubUrl">View on Github <i class="fab fa-github"></i></a>
        </div>
    </div>
</div>