<div class="bg-dark text-light text-center p-5">
    <p>
        <a class="text-muted" href="https://rueger.events/imprint/">
            Imprint
            <i class="fas fa-external-link-square-alt"></i>
        </a>
        <a class="ms-4 text-muted" href="https://rueger.events/privacy/">Privacy Policy
            <i class="fas fa-external-link-square-alt"></i>
        </a>
    </p>
    <p class="text-muted">© {{year}}, Hannes Rüger. All rights reserved.</p>
    <p class="text-muted">Made with <i class="fas fa-heart text-danger"></i>, Angular, Bootstrap and FontAwesome. Served
        via GitHub pages.</p>
</div>