<div class="avatar-container d-flex justify-content-center text-white text-center pt-5">
    <div class="avatar">
        <img src="assets/avatar.png" class="avatarImg mx-auto">
        <div class="bg mt-2">
            <h1>Hannes Rüger</h1>
            <p class="font-weight-bold">Software • Video and VFX • Graphic Design</p>
        </div>
        <div class="callToAction mt-4">
            <a class="btn btn-primary mr-3" (click)="goToProjects()" routerLink="">View Projects</a>
            <a class="btn btn-primary" href="https://github.com/hrueger" target="_blank">GitHub <i class="fab fa-github"></i></a>
        </div>
    </div>
</div>