<div class="header position-relative">
    <img class="img-fluid" class="headerImg" src="assets/header.jpg">
    <div class="avatar-container d-flex w-100 justify-content-center position-absolute text-white text-center">
        <div class="avatar">
            <img src="assets/avatar.png" class="avatarImg mx-auto">
            <h1>H. Rüger</h1>

            <div class="callToAction">
                <a class="btn btn-outline-primary">View Projects</a>
            </div>
        </div>
    </div>
</div>