.avatar-container {
    min-height: 35rem;
    width: 100%;
    background-image: url(../../../assets/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    .avatarImg {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }
    .bg {
        background-color: rgb(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 500px;
    }
}